.air{
    height: 300px;
    width: 400px;
}

.zwei{
    height: 300px;
    width: 500px;
}

.m2k{
    height: 300px;
    width: 400px;
}

.foggrey{
    height: 300px;
    width: 400px;
}

.white{
    height: 300px;
    width: 400px;
}
.TN{
    width: 50%;
}
a{
    color: white;
}